<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097246653921-ki04irlsrd227fpl05b6hlt8u7m4td1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097246653921-ki04irlsrd227fpl05b6hlt8u7m4td1i</string>
	<key>API_KEY</key>
	<string>AIzaSyB8gkFmURzki_lN8dk9M6qAfE2yLDlC_-U</string>
	<key>GCM_SENDER_ID</key>
	<string>1097246653921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobs</string>
	<key>PROJECT_ID</key>
	<string>javinsensestudios-jobs</string>
	<key>STORAGE_BUCKET</key>
	<string>javinsensestudios-jobs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097246653921:ios:e56d01dcbbed367f48a6a0</string>
	<key>DATABASE_URL</key>
	<string>https://javinsensestudios-jobs-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>